.app-header {
    align-items: center;
    background-color: var(--color-blue);
    color: var(--color-white);
    display: flex;
    height: 100px;
    padding: 30px 25px 25px;
}

.app-header__title {
    flex-grow: 1;
    font-family: var(--font-secondary);
    font-size: 40px;
}

.app-header__avatar {
    background-color: hotpink;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.app-content {
    margin: 0 auto;
    max-width: 960px;
    padding: 25px;
    width: 100%;
}
