@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&family=Ubuntu:wght@300;400&display=swap');

:root {
    --color-white: #ffffff;

    --color-text: #262626;
    --color-border: #c3c3c3;

    --color-green: #16c77c;
    --color-red: #f40d74;
    --color-blue: #1291d4;
    --color-orange: #fc5b19;

    --font-primary: Ubuntu, sans-serif;
    --font-secondary: Raleway, sans-serif;

    --border-radius: 4px;
}

* {
    box-sizing: border-box;
}

body {
    color: var(--color-text);
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
}

h1 {
    font-family: var(--font-secondary);
    font-size: 28px;
    margin: 0;
}
